<footer class="p-8 bg-gray-100">
  <p class="text-center text-lg font-semibold mb-0">
    This demo was created using this <%= link_to("awesome template", "https://github.com/IsraelDCastro/rails-vite-tailwindcss-template" , target: '_blank', class: 'underline') %> ♥️.
  </p>
</footer>
